################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Core.API/.vs
/Core.API/Core.API/bin/Debug/net6.0
